NEXT_PUBLIC_APP_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL="sua_url_do_banco_aqui"
BETTER_AUTH_SECRET="sua_chave_secreta"
GOOGLE_CLIENT_ID="seu_id_do_google"
GOOGLE_CLIENT_SECRET="sua_chave_do_google"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="sua_chave_publica_stripe"
STRIPE_SECRET_KEY="sua_chave_privada_stripe"
STRIPE_ESSENTIAL_PLAN_PRICE_ID="id_do_produto_stripe"
NEXT_PUBLIC_STRIPE_CUSTOMER_PORTAL_URL="url_do_portal_stripe"
